// *************************************
//
// Article
// -> An article module
//
// *************************************

.Article {
  margin-top: rem(40px);
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Title ----- //

.Article-heading {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.5rem;
}

// ----- Subtitle ----- //

.Article-tagline {
  font-style: italic;
}

// ----- Content ----- //

.Article-content {
}
