// *************************************
//
// Content
// -> The main content module
//
// *************************************

.Content {
  @include outer-container;
  margin-bottom: 2rem;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Article area ----- //

.Content-articles {
  @include span-columns(7);
  margin-top: 2rem;
}

.Content-articles--half {
  @include span-columns(3 of 7);
  &:last-of-type {
    @include shift(1 of 7);
  }
}

// ----- Sidebar area ----- //

.Content-sidebar {
  @include span-columns(4);
  @include shift(1);
  background    : $c-green;
  margin-top    : 2rem;
  margin-bottom : 2rem;
  padding       : 0 1em;
  text-align    : center;
}
