// *************************************
//
// Footer
// -> A module for the footer
//
// *************************************

.Footer {
  color: $c-black;
  fill: $c-black;
  background: $c-green;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Nav ----- //

.Footer-nav {
  @extend .u-gridContainer;
  padding: rem(20px) $l-insideGutter;
}

// ----- Legal ----- //

.Footer-legal {
  @extend .u-gridRow;
  padding: rem(15px) $l-insideGutter;
  color: $c-white;
  fill: $c-white;
  background: lighten($c-black,5%);
  font-size: 75%;
  text-transform: uppercase;
  font-weight: bold;
}

// ----- List ----- //

.Footer-list {
  font-size: rem(12px);
  font-weight: 700;
  text-transform: uppercase;
}

.Footer-list--inline {
  a {
    color: $c-white;
  }
  li {
    line-height: 2rem;
    display: block;
  }

  @include media ($bp-jack) {
    li {
      display: inline;
      &::after {
        content: "|";
        margin-right: 1em;
        margin-left: 1em;
      }
      &:last-of-type::after {
        content: "";
      }
    }
  }
}

// ----- Link ----- //

.Footer-link {
  color: $c-white;
}

// ----- Column ----- //

.Footer-column {
  @include span-columns(12);
  text-align: center;

  h5 {
    margin: 0;
  }

  @include media ($bp-jack) {
    @include span-columns(4);
    text-align: left;

    h5 {
      margin: 1rem 0;
    }
    &:not(:first-of-type) {
      padding: 0 rem(10px);
    }
  }
}

// ----- Social ----- //

.Footer-social {
  margin-right: 0.5rem;
}
