// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  padding-top: 1rem;
  border-bottom: 5px solid $c-green;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Header--bg1 {
  background: url("../img/bg-header-1.jpg");
  background-size: cover;
}
.Header--bg2 {
  background: url("../img/bg-header-2.jpg");
  background-size: cover;
}
.Header--bg3 {
  background: url("../img/bg-header-3.jpg");
  background-size: cover;
}
.Header--bg4 {
  background: url("../img/bg-header-4.jpg");
  background-size: cover;
}
.Header--bg5 {
  background: url("../img/bg-header-5.jpg");
  background-size: cover;
}
.Header--bg6 {
  background: url("../img/bg-header-6.jpg");
  background-size: cover;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background     : rgba($c-white, 0.5);
}

// ----- Logo bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace * 4;
  padding-top    : $l-whiteSpace;
}

