// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  padding-top: 1rem;
  border-bottom: 5px solid $c-green;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Header--advocaat {
  background: url("../img/header-bg/visitekaartjes.png");
  background-size: cover;
  background-position: center center;
}

.Header--rechtsgebieden {
  background: url("../img/header-bg/boeken.png");
  background-size: cover;
  background-position: right center;
}

.Header--tarieven {
  background: url("../img/header-bg/spaarvarkens.jpg");
  background-size: cover;
  background-position: right center;
}

.Header--referenties {
  background: url("../img/header-bg/paleis.jpg");
  background-size: cover;
  background-position: right center;
}

.Header--tips {
  background: url("../img/header-bg/toga.png");
  background-size: cover;
  background-position: right center;
}

.Header--actueel {
  background: url("../img/header-bg/logo.jpg");
  background-size: cover;
  background-position: right center;
}

.Header--contact {
  background: url("../img/header-bg/maps.jpg");
  background-size: cover;
  background-position: center center;
}

.Header--app {
  background: url("../img/header-bg/visitekaartjes.png");
  background-size: cover;
  background-position: center center;
}

.Header--privacy {
  background: url("../img/header-bg/motor.jpg");
  background-size: cover;
  background-position: right center;
}

.Header--voorwaarden {
  background: url("../img/header-bg/motor.jpg");
  background-size: cover;
  background-position: right center;
}

.Header--disclaimer {
  background: url("../img/header-bg/motor.jpg");
  background-size: cover;
  background-position: right center;
}

.Header--default {
  background: url("../img/header-bg/visitekaartjes.png");
  background-size: cover;
  background-position: center center;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background     : rgba($c-white, 0.5);
}

// ----- Logo bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace * 4;
  padding-top    : $l-whiteSpace;
}

