// *************************************
//
// Icon
// -> Display an svg icon
//
// *************************************

.Icon {}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Icon--inline {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  padding-bottom: 0.2em;
}

.Icon--alone {
  height: 2rem;
  width: 2rem;
}

.Icon--twitter {
  fill: $c-black;
  transition: fill 0.3s ease;
  &:hover {
    fill: #55ACEE;
  }
}

.Icon--facebook {
  fill: $c-black;
  transition: fill 0.3s ease;
  &:hover {
    fill: #3B5998;
  }
}

.Icon--linkedin {
  fill: $c-black;
  transition: fill 0.3s ease;
  &:hover {
    fill: #0073B2;
  }
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
