// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  border-bottom: $l-border;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: inline;
  margin: 0 rem(15px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  color: black;
  &:hover {
    text-decoration: none;
    border-bottom: $l-border;
  }
}
