// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  text-align: center;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  background: darken($c-green, 10%);  
  @include media($bp-nav) {
    border-bottom: $l-border;
    background: none;
  }
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: block;

  @include media($bp-nav) {
    display: inline;
    margin: 0 rem(15px);
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  color: black;
  display: block;
  line-height: 2.5rem;
  background: $c-green;
  margin-bottom: 0.5rem;
  transition: background 0.3s ease;
  &:hover,
  &:focus {
    text-decoration: none;
    background: darken($c-green, 5%);
  }

  @include media($bp-nav) {
    background: none;
    display: inline;
    border-bottom: 3px solid transparent;
    transition: border 0.3s ease;
    &:hover,
    &:focus {
      border-bottom: $l-border;
      background: none;
    }
  }
}

.Navigation-list--parent {
  display: none;
  @include media($bp-nav) {
    display: block;
  }
}

.Navigation-menuToggle {
  display: block;
  @include media($bp-nav) {
    display: none;
  }
}
