// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Helpers ----- //
@import "core/helpers";

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/button";

@import "modules/equalheight";

@import "modules/header";

@import "modules/icon";

@import "modules/logo";

@import "modules/map";

@import "modules/navigation";

@import "modules/table";

@import "modules/content";

@import "modules/form";

@import "modules/footer";

// -------------------------------------
// Inbox
// -------------------------------------

// Post pagination

.Pagination {
  display: table;
  margin: 0 auto 2rem;
  a {
    @extend .Button;
    @extend .Button--brand;
  }
}

// Comments

.comment-respond {
  label {
    display: block;
  }
  input,
  textarea {
    width: 100%;
  }
  #submit {
    height: 3rem;
  }
}

// Wordpress crap

#reply-title {
  @extend .u-textShout;
  @extend %u-textH5;
}

// Image frame

.imageFrame--right {
  margin-left: 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 4px solid $c-green;
}
